<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/homepage.css">
    <title>Shiny Apps</title>
</head>
<body>
<div class="container-fluid">
    <section class="boxes row">
        <div class= "box_topics col-md-12">
            <h6>Login</h6>
            <form method="POST">
                <input name="username" id="id_login" placeholder="Enter username"/shinyapps>
                {% csrf_token %}
            </form>
        </div>
        <div class= "box_topics col-md-12">
            <a href="/" style="float: right"><img src="/static/logo.png" alt="Nielsen Logo"></a>
            <h1>Shiny Applications</h1>
            <table id="id_shinyapps_table">
                {% for item in items %}
                    <tr><td id="{{ item.itemid }}"><a href="https://seanapsys.com/shiny/{{ username }}/{{ item.dirname }}/">{{ item.name }}</a></td></tr>
                {% endfor %}
            </table>
        </div>
    </section>
</div>

</body>
</html>
