<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>Shiny Apps</title>
</head>
<body>
    <table id="id_shinyapps_table">
        <tr><td>Shiny Applications</td></tr>
    </table>
    <p id="id_shinyapp1"><a href="https://seanapsys.com/shiny/langestrst01/hello/">Hello App</a></p>
    <p id="id_shinyapp2"><a href="https://seanapsys.com/shiny/langestrst01/movie_explorer/">Movie Explorer</a></p>
</body>
</html>
